HTTP_HOST=localhost
HTTP_PORT=8080
HTTP_READ_TIMEOUT=5s

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=calllens
POSTGRES_USER=calllens
POSTGRES_PASSWORD=change-me
POSTGRES_SSL_MODE=disable

MIGRATION_DIRECTORY=./migrations
UPLOAD_PATH=./storage/audio


PASSWORD_PEPPER=change-me
JWT_SECRET=change-me
JWT_ACCESS_TOKEN_TTL=1h

REFRESH_TOKEN_SECRET=change-me
REFRESH_TOKEN_TTL=720h